.header__language {
  width: 106px;
  position: relative;
}
.haeader__language-head {
  cursor: pointer;
  width: 70%;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--4356-bc, #4356bc);
  transition: width 0.6s;
}

.haeader__language-headopen {
  width: 100% !important;
  transition: width 0.6s;
}
.haeader__language-head > span {
  color: var(--F1, #f2f2f2);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "ss11" on, "ss10" on, "ss09" on, "ss08" on, "ss07" on,
    "ss06" on, "ss05" on;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%; /* 16.2px */
}
.header_language-list {
  height: 0;
  overflow: hidden;
  z-index: 100;
  top: 33px;
  position: absolute;
  width: 100%;
  background: var(--FF, #fafafd);
  transition: height 0.6s;
}
.open-header__language {
  height: 128px !important;
  transition: height 0.6s;
  z-index: 100;
}
.header_language-listitem {
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.header_language-listitem > span {
  color: var(--13, #131418);
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "ss11" on, "ss10" on, "ss09" on, "ss08" on, "ss07" on,
    "ss06" on, "ss05" on;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%; /* 16.2px */
}
.header_language-listitem > input {
  display: block;
  width: 16px;
  cursor: pointer;
}
