
.catalugbarner2-bag{
    background-image: url("../../assets/img/categback.png");
}
.catalogue-paggination__next , .catalogue-paggination__prev{
    cursor: pointer;
}
.rangeslider__summa{
    display: flex;
    justify-content: space-between;
}
.imgcursorim{
    cursor: pointer;
}