.baclist1{
    background-image: url("../../assets/img/moskva.webp");
}
.baclist2{
    background-image: url("../../assets/img/dubay.webp");
}
.baclist3{
    background-image: url("../../assets/img/tayland.webp");
}
.baclist4{
    background-image: url("../../assets/img/bali.webp");
}
.baclist5{
    background-image: url("../../assets/img/turkiya.webp");
}

.baclist1, .baclist2 , .baclist3 , .baclist4 , .baclist5 {
    background-size: cover !important;
    background-position: center;
  
}

.offer-section__activeli {
    color: var(--13, #131418);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: "ss11" on, "ss10" on, "ss09" on, "ss08" on, "ss07" on, "ss06" on, "ss05" on, lining-nums proportional-nums;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    border-bottom: 1px solid;
    /* text-decoration-line: underline; */
}
@media only screen and (max-width:450px){
    .offer-section__wrapper .apartament-list__item {
        min-width: 300px !important;
        max-width: 365px !important;
    }
    .apartament-list__preview {
        height: 270px !important;
    }
}


@media only screen and (max-width:390px){
    .falatorgimg2{
        width: 330px;
    }
}
.insta-stoooriya{
    position: relative;
    position:fixed ; /* Satay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  
}
.insta-stoooriya__wap{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
.recistorys__img{
  position: absolute;
   top: 10px;
   right: 20px;
   cursor: pointer;
}

@media only screen and (max-width:600px){
.recistorys__img{
    width: 20px;    
    right: 10px;
}
}
.story__sentp{
    font-size: 12px !important;
}
.addhashtag__tagslist3{
    top: 55px;
    position: absolute;
    display: block;
    width: 100%;
   height: 200px;
   background-color: #F0F0F0;
   overflow: auto;
}
.addhashtag__tagslist3  > li{
    color: #000 !important;
    padding: 4px 0;
    cursor: pointer;
}
.addhashtag__tagslist3 > li:hover{
    background-color: #4356BC;
    color: #fff !important;
}
